@import "bulma/css/bulma.min.css";

:root {
  --bulma-body-background-color: var(--bulma-light);
}

.card {
  --bulma-card-header-background-color: var(--bulma-info-30);
  --bulma-card-header-color: var(--bulma-text-invert);
}
