// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: "'Inter', sans-serif",
  $primary: #7f00ff,
  $info: #9933ff
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// Import DataTables
@import url("datatables.net-bm");

main {
  height: 100vh;
}

.skeleton-center {
  position: relative;
  top: 50%;
}

.field-view {
  border: 1px solid;
  border-radius: 5px;
}
